# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

result/*
!result/.gitkeep

model/*
!model/.gitkeep

report.log

.vscode/*

# Pycharm
.idea/

# macOS
.DS_Store
**/.DS_Store

# Loose result/output files
*.npy
*.csv
*.pdf
*.png
figures/
ippo_env/
project_structure.txt
ruin_mask.npy
legend_box_3x3.png
